.star {
    font-size: 30px;
    color: #828282;
    cursor: pointer;
    transition: color 0.3s;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked ~ label {
    color: #ffd000;
}

input[type="radio"]:checked ~ label ~ label {
    color: #828282;
}

input[type="radio"]:checked ~ label ~ label ~ label {
    color: #828282;
}

input[type="radio"]:checked ~ label ~ label ~ label ~ label {
    color: #828282;
}

.rating {
    display: flex;
    width: 100%;
    margin-top:-10px;
}

.ratingBox{
    display: flex;
    width: 100%;
    margin-top:-10px;
    color: #ffd000;
    font-size: 17px;
    
    
}

.s1 label ~ label {
    color: #828282;
}

.s2 label ~ label ~ label {
    color: #828282;
}

.s3 label ~ label ~ label ~ label {
    color: #828282;
}

.s4 label ~ label ~ label ~ label ~ label{
    color: #828282;
}

.s5 label{
    color: #ffd000;
}