.card{
    width:18rem;
}

/* index.js */

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
@media(max-width:580px){
    .listing-card{
        width: 70vw;
    }

}
@media(max-width:450px){
    .listing-card{
        width: 90vw;
    }

}




/* Tax Switch Button */
.taxSwitch{
    border:black solid 0.3px;
    border-radius: 8px;
    width: 170px;
    height: 50px;
    display: flex;
    margin-right: 60px;
 }

 @media(max-width:850px){
    .taxSwitch{
        display: none;
    }
 }

 .taxSwitch:hover{
    background-color: rgb(241, 241, 241);
 }

 .taxSwitch label{
    position:relative;
    left: -33px;
    top:12px;
    font-size: 13px;
 }

 .taxSwitch input{
    position:relative;
    right: -35px;
    top:4px;
    cursor: pointer;
    font-size: 25px;
 }

 .filtersAndTax{
    display: flex;
    margin-top: 70px;
    margin-left: 3.6rem ;
    justify-content: space-between;
    overflow: hidden;
 }
 .filters{
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: 0.5px;
    font-size:20px;
}

.filter p{
    font-size: 10px;
}
.filter{
    opacity: 0.7;
    margin-right: 17px;
    text-align: center;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
}





a{
    text-decoration: none;
}

.card-img-top{
    height: 12rem;
}

.listingDec{
    text-overflow: ellipsis;
    overflow: hidden;
  white-space: nowrap;
}

.listingPrice{
    margin-top: -13px;
}

.listingPrice i{
    margin-left: 55px;
    font-size: 12px;
    visibility: hidden;
}

.card-title{
    margin-bottom: 10px;
}

.delFrom{
    display: inline;
    margin-left: 15px;
}

/* Show.ejs */
.img-fluid{
    width:70vw;
    height: 50vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 35px;
    margin-bottom: 10px;
}


.img-fluid-con{
margin-top: 35px;
width:70vw;
margin-bottom: 10px;

}

@media(max-width:650px){
    .img-fluid-con{
        width: 100vw;
        align-items: center;
        
    }

    .img-fluid{
        width: 100vw;
        height: 30vh;
    }

    #map{
        width: 100vw;
    }

}

@media(max-width:350px){
    .reviewCard{
        width: 90vw;
    }
}

.copyright{
    text-align: center;
}

i{
    margin-right: 5px;
}

/* navbar */
/* nav{
    margin-bottom: 1000px;
} */



.addform, .editform{
    margin-top: 65px !important;
    
}

.addbtn{
    margin-top: 35px;
}

footer{
    background-color: rgb(66, 66, 66);
    position: relative;
    left: 0;
    bottom:0; 
    width: 100%;
    color: white;
    padding: 10px;
    
}

body{
    display: flex;
    flex-direction: column;
     min-height: 100vh;
   
}

.body{
    flex: 1;
    
}

.card-img-top:hover{
    opacity: 60%;
}

.alert-danger{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}


.review-container{
 margin-top: 30px;
}

.flashMsg{
    margin-top: 3.6rem;
}

.originalImg{
    width: 200px;
    height: 112px;
}
.EditImg p{
    
    font-size: 12px;
    margin-bottom: 1px;
}

.EditImg{
    margin-bottom: 3px;
}

/* NavBar */
.serchBox{
    display: flex;
    gap: 10px;
    margin-right: 20rem;
    
    
}

.serchBox input{
    color: black;
    background-color: white;
    outline: none;
    border: none;
    padding-left:5px;
    border-radius: 5px;
    font-size: 15px;
}
@media(max-width:991px){
    .serchBox input{
        height: 30px;
    }
    .serchBox button{
        height: 30px;
        align-items: center;
        text-align: center;
        padding: 1px 5px 5px 5px;

    }
 }
@media(max-width:1200px){
    .serchBox{
        margin-right: 5rem;
    }
 }
 @media(max-width:1292px){
    .serchBox{
        margin-right: 10rem;
    }
 }

 @media(max-width:315px){
    .serchBox{
        flex-wrap: wrap;
    }
 }

 @media(max-width:575px){
    .serchBox{
        display: flex;
        align-items: center;
    }
 }
 @media(max-width:450px){
    .listing-card{
        width: 90vw;
    }

    .filtersAndTax{
        margin-left: 1.6rem;
        
    }

}

/* register.ejs and login.ejs*/ 
@media(max-width:900px){
    .registerDiv, .loginDiv{
        width: 90vw;
        margin: 10% 10% 10% 5%;
        /* background-color: aqua */
    }
}

@media(max-width:442px){
    .formRow{
        display: flex;
        flex-direction: column;
    }
}