
<div class="row col-6 offset-3">
<% if(successMsg.length){ %>
    <div class="alert alert-success alert-dismissible fade show flashMsg" role="alert">
        <%= successMsg %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
<% } %>
  
<% if(failerMsg.length){ %>
    <div class="alert alert-danger alert-dismissible fade show flashMsg" role="alert">
       <%= failerMsg %>
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>
<% } %>
<% if(errorMsg.length){ %>
  <div class="alert alert-danger alert-dismissible fade show flashMsg" role="alert">
     <%= errorMsg %>
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
<% } %>
</div>