<header>
    <nav class="navbar fixed-top navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Rent a Property</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">About us</a>
              </li>
            </ul>

            <!-- center items -->
             <div>
              <form class="form-inline serchBox">
                <input class="" type="search" placeholder="Search by palce" aria-label="Search" name="q">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
             </div>

            <!-- left side content -->
            <div class="ml-auto">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/listing/add">Rent your Property</a>
              </li>
             <% if(!currUser){ %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/login">Log in</a>
              </li>
           <% } else{ %>
              <li class="nav-item">
                <a class="nav-link active" href="/logout">Log out</a>
              </li>
           <% } %>
            </ul>
          </div>
        </div>
        </div>
      </nav>
</header>